*{
	padding:o;
	margin:0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部开始*/
/*导航*/
span{
    background-color: #2756a4;
    color:#ffffff;
}
.top{
    width:100%;
    height:156px;
}
.header{
    width:1200px;
    height:156px;
    margin:0 auto;
}
.dingbu1{
    width:1200px;
    height:104px;
    margin:0 auto;
}
.logo{ 
    width:524px;
    height:60px;
    margin-top:30px;
    margin-right:195px;
    float:left;  
}
.dianhua{
    padding-top:50px;
    width:210px;
    height:35px;
    float:left;
    font-size:20px;
    color:#0b4199;
    margin-right:5px;
}
.zhongwen{
    margin-top:52px;
    float:left;
    width:40px;
    height:25px;    
    font-size:15px;
    color:#919191;
}
.language{
    width:72px;
    height:25px;
    font-size:15px; 
    color:red;
    float:left;
    margin-top: 52px;  
    padding-right:10px;
}
select{
    color:red;
    border-color: #ffffff;
}
.zhuce{
    width:116px;
    height:16px;
    font-size:16px;
    float:left;
    margin-top:52px;
    margin-left:25px;
}
.zhuce p{
    color:#a3a3a3;
}
.daohang{
    width:945px;
    height:31px;
    float:left;     
}
.daohang ul{
    float:left;
    margin-top:30px;
    padding-left:0;
}
.daohang ul li{
    font-size:16px;
    float:left;
    padding-right:50px;
}
.dingbu6{
    padding-top:10px;
    height: 50px;   
    padding-left:80px;
}
.sousuo{
    width:250px;
    height:40px;
    background-color:#ebeaea;
    float:left;
    color:#b9b9ba;
    font-size:15px;
    margin-top: 20px;
}
.sousuo p{
    padding:10px 170px 10px 10px;
    float:left;
}
.ph{
    padding-top:10px;
    padding-bottom: 10px;
    float:left;
    width:21px;
    height:22px;
}

/*中间开始*/
.box{
    height:1159px;
    width:100%;
    background-color:rgb(249,249,249);
}
.piao{
    width:88px;
    height: 313px;
    position:fixed;
    top:290px;
    right:50px;
}
.piao0{
    width:86px;
    height:82px;
    background-color: #8d8d8d;
    text-align: center;
    border-bottom: 2px dotted #dcdbdc; 
}
.piao00{
    margin-top: 10px; 
}
.piao1{
    width:86px;
    height:82px;
    background-color: #b0b0b0;
    text-align: center;
    border-bottom: 2px dotted #dcdbdc;
}
.piao10{
    margin-top: 10px;
}
.piao2{
    width:86px;
    height:82px;
    background-color: #b0b0b0;
    text-align: center;
    border-bottom:2px dotted #dcdbdc; 
}
.piao20{
    margin-top: 10px; 
}
.piao3{
    width:85px;
    height:63px;
    background-color: #b0b0b0;
    text-align: center; 
}
.piao30{
    margin-top:20px;
}
.piao31{
    margin-top: 7px;
}

.box .box1{
    height:563px;
    width:1207px;
    background-color:rgb(249,249,249);
    margin:0 auto;  
    font-family:'微软雅黑';  
}
.box1 .b1{
    padding-top: 38px;
    font-size: 14px;
    color:#c8c8c8;
    float:left;  
}   
.box1 .b2{
    padding-top: 38px;
    font-size: 14px;
    color:#2756a4;
}
.box1 .b3{
    padding-top: 47px;
    font-size: 24px;
}
.box1 .b4{
    font-size: 14px;
    color:#666666;
}
.box1 .pho1{
    padding-top: 3px;
    text-align: center;
}
.box1 .pho2{
    padding-top: 18px;
    text-align: center;
}
.box1 .b5{
    padding-top: 45px;
    padding-left: 22px;
    font-size: 20px;
    color:#3e65aa;
}
.box1 .b6{
    padding-top: 18px;
    padding-left: 22px;
    line-height: 25px;
    color:#7e7e7e;
    font-size: 16px;
}
.box2{
    height:595px;
    width:1207px;
    background-color:#f9f9f9;
    margin:0 auto;
    font-family:'微软雅黑'; 
    color:#2756a4;
}
.box2 .m1{
    width:290px;
    height:477px;
    margin-top: 20px;
    background-color:#ffffff;
    margin-right: 16px;
    float:left;
}
.box2 .m2{
    width:290px;
    height:477px;
    margin-top: 20px;
    background-color:#ffffff;
    margin-right: 16px;
    float:left;
}
.box2 .m3{
    width:290px;
    height:477px;
    margin-top: 20px;
    background-color:#ffffff;
    float:left;
}
.box2 .pho3{
    padding-top: 22px;
    text-align: center;
}
.box2 .m4{
    font-size: 16px;
    padding-top: 18px;
    text-align: center;
}
.box2 ul{
    padding-top:5px;
    padding-left: 12px;
    font-size: 14px;
}
.box2 li{
    line-height: 18px;
    padding-left: 0;
}
/*底部蓝框*/
.bo1{
    height:63px;
    width:100%;
    background-color: #0b4199;
}
.bo1 .bo{
    height:63px;
    width:1202px;
    margin:0 auto;
    background-color:#0b4199;
}
.pi1{
    padding-top:14px;
    float:left;
}
.pi2{
    padding-top:22px;
    padding-left:5px;
    color: #ffffff; 
    float:left;
}
.pi3{
    padding-top:14px;
    padding-left: 180px;
    float:left;
}
.right{
    float:right;
}
.pi4{
    padding-top:16px;
    color: #ffffff;
    float:left;
}
.pi5{
    float:left;
    padding-top: 10px;
    padding-left: 5px;
}
/*底部开始*/
.bo2{
    height:303px;
    width:100%;
    background-color:#454545;
}
.bo2 .boo{
    height:260px;
    width:1202px;
    margin:0 auto;
    background-color:#454545;
}
.boo1{
    width: 170px;
    height: 260px;
    margin-left: 0;
    float: left;
    color:#ffffff;
}
.boo11{
    padding-left:0;
    padding-top: 53px;
    font-family: '微软雅黑';
    font-size: 16px; 
}
.boo12{
    margin-top: 23px;
    padding-left: 0px;
    line-height: 24px; 
    font-size: 14px;
    font-family: '微软雅黑';
}
.pic1{
    float:left;
    padding-left: 0;
    padding-right: 50px;
    padding-top: 34px;
}
.pic2{
    padding-top:30px;
}
.pic3{
    padding-top: 18px;
}
.f1{
    color:#ffffff;
    font-size: 14px;
}
.w{
    margin-top: 25px;
    margin-right: 25px;
    float:right;
    width:265px;
    height: 110px;
    font-size: 12px;
    color:#ffffff;
}
.w1{
    width:53px;
    height: 110px;
    float: left;
    line-height: 22px;
}
.w0{
    padding-top:22px;
    float:right;
}
.w2{
    width:290px;
    height: 110px;
    line-height: 22px;
}
.f2{
    padding-top: 15px;
    color:#c3c3c3;
    font-size: 12px;
    padding-left: 332px;
    float:left;
}
.f3{
    padding-top: 15px;
    padding-left:140px;
    color:#c3c3c3;
    font-size: 12px;
    float:left;
}
.f4{
    padding-top: 15px;
    padding-left: 14px;
    color:#c3c3c3;
    font-size: 12px;
    float:left;
}


