*{
	padding:0 px;
	margin:0 px;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;                                                                                     
}
/*头部*/
.head{
	height:143px;

}
.hh1{
	height: 58px;
	padding-left: 193px;
}
.hhh1{
	float:right;
	font-size:14px;
	line-height: 58px;
	text-align: center;
}
.red{
	color:red;
	font-size:14px;
	float:right;
	line-height: 58px;
	text-align: center;
}
.h2{
	padding-left: 193px;
}
.hhh2{
	float:right;
	font-size:14px;
	line-height: 58px;
	text-align: center;
}
.hhh3{
	color: #0b41b2;
	float:right;
	font-size: 16px;
	line-height: 58px;
	text-align: center;
}
.hh2 ul{
	height:69px;
	width: 890px;
	float: left;

}
.hh2 ul>li{
	width: 110px;
	height: 69px;
	text-align: center;
	line-height: 69px;
	float: left;
}
.yy1{
	float: right;
	padding-top:10px; 
	margin-top: 15px;
}
/*body*/
.whole{
	width:100%;
	height:2049px;
	background:url(../images/dise.png) no-repeat center center; 
}
.top{
	width:100%;
	height:204px;
}
.top1{
	padding-left:5px;
	padding-top: 20px;
}
.top2{
	padding-left: 200px;
	padding-top: 103px;
	
}
.zhuye{
	font-size: 14px;
	font-family:"微软雅黑";
	font-weight: normal;
	margin-left:200px;
	
	margin-top:21px;
}
.xinwenzaixian{
	font-size:16px;
	font-family: "微软雅黑"；
	color:#2756a4;
}
.chakan{
	font-size: 14px;
	font-family:"微软雅黑";
	color:#04b199;
	font-weight:normal;
	padding-left:200px;
	padding-top:102px;
}
.xinwenzhongxin{
	margin-left:200px;
    margin-top:54px;
	font-size:24px;
	font-family:"微软雅黑";
	font-weight: bold;
}
.news{
	font-size:14px;
	font-family:"微软雅黑";
	color:#666666;
}
.middle1{
	width:1207px;
	height:573px;
	margin-top:51px;
	margin-left:200px;
	background-color:#ffffff; 
}
.mitop{
	width:1207px;
	height:298px;
}
.word3{
	font-size: 16px;
	font-family: "微软雅黑"；
	color:#2756a4;
	font-weight: normal;
	padding-top:25px;
	padding-left: 20px;
}
.mitopl{
	width:434px;
	height:298px;
	float:left;
}
.mitopr{
	width:736px;
	height:298px;
	margin-left: 27px;
	float:left;
}
.mitopimg{
	padding-left: 20px;
	padding-top: 5px;
}
.mitopa{
	padding-top: 30px;
	padding-right:20px;
}
.date{
	font-size: 12px;
	font-family: "微软雅黑"；
	color：#878787；
}
.chakanxiangxi{
	font-family: "微软雅黑";
	font-size: 10px;
	color:#ed1c24;
	padding-left: 650px;
}
.mibottom{
	width:1207px;
	height:265px;
}
.mibol{
	width:1105px;
	height:266px;
	float:left;
	line-height: 35px;
}
.li{
	font-family:"微软雅黑";
	font-size:10px;
	color:#434343;
	padding-left: 20px;
}
.mibor{
	width:101px;
	height:268px;
	float:left;
}
.date1{
	font-size: 12px;
	font-family: "微软雅黑"；
	color：#878787；
	margin-left:525px;
	line-height: 35px;
}
.middle2{
	width:1200px;
	height:564px;
	margin-top:32px;
	margin-left:200px;
	background-color:#ffffff;

}
/*尾部*/
.last1{
	clear: both;
	height: 93px;
	background: #0b41b2;
	padding-left: 100px;
}
.last1 .kuai1 img{
	padding-top:19px;
}

.last1 .kuai1{
	color:white;
	float:left;
	font-size: 18px;
	width: 310px;
	line-height:77px;
}
.last1 .kuai2 img{
	padding-top:19px;
}
.last1 .kuai2{
	color:white;
	float:left;
	font-size: 18px;
	width: 310px;
	line-height:77px;
}
.last1 .kuai3 img{
	padding-top:19px;
}

.last1 .kuai3{
	width: 205px;
	float:right;
	font-size: 18px;
	color:white;
	line-height:77px;
}
.last2{
	clear:both;
	height: 320px;
	background: #454545;
}
.last2 .kuai1{
	padding-top:84px;
	padding-left: 88px;
	height:195px;
	width:155px;
	float:left;
}

.last2 .kuai1 ul>li{
	font-size: 14px;
	color: white;	
}
.last2 .kuai2{
	padding-top:84px;
	float:left;
	height:195px;
	width:155px;
}
.last2 .kuai2 ul>li{
	font-size: 14px;
	color: white;	
}
.last2 .kuai3{
	width: 322px;
	height: 181px;
	padding-left:10px;
	float:right;
	margin-top:57px;
	border-left:2px solid white;
}
.last2 .kuai3 .kuai3b{
	padding-top:27px;
	padding-left:12px;
	height: 78px;
	font-size:14px;
	width: 320px;
	color:white;
}
.last2 .kuai4{
	clear: both;
	height: 30px
	padding-top:50px;
	padding-left:60px;
	padding-right:125px;	
	font-size:12px;
	color: white;

}
.last2 .kuai4 .left{
	float:left;
}
.last2 .kuai4 .right{
	float:right;
}

