*{
	padding:0 px;
	margin:0 px;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;                                                                                     
}
/*头部*/
.head{
	width:1200px;
	height:153px;
}
.ht{
	width:1200px;
	height:104px;
}
.htl{
	width:606px;
	height:68px;
	padding-left: 150px;
	padding-top: 36px;
	float:left;
}
.htr{
	width:404px;
	height:68px;
	padding-top: 50px;
	float:right;
}
.dianhua{
	font-family: "微软雅黑"；
	font-size:22px;
	color:#0b4199;
}
.zhongdengzhu{
	font-family: "微软雅黑";
	font-size: 16px;
	color:#7d7d7d;
}
.language{
	font-size: 16px;
	font-family: "微软雅黑"；
	color:#ef2c34;
}
.hb{
	width:1200px;
	height:46px;
	padding-left: 120px;	 
}
.hbl{
	float:left;
}
.hbr{
	float:left;
	padding-left: 60px;
	padding-top: 12px;
}
.htr ul li{
	display:inline-block;
}
.hb ul li{
	display:inline-block;
}
/*zhengwen*/
.middle{
	width:1510px;
	height:1738px;
	background-color:#f9f9f9;
	margin-top:10px;
}
.top{
	width:100%;
	height:204px;
}
.top1{
	padding-left:5px;
	padding-top: 20px;
}
.top2{
	padding-left: 200px;
	padding-top: 93px;
	
}

.zhuye{
	font-size: 14px;
	font-family:"微软雅黑";
	font-weight: normal;
	margin-left:200px;
	margin-top:21px;
}
.mit2{
	padding-left: 160px;
	width:1200px;
	height:90px;
}
.xinwenzaixian1{
	color:#0b4199;
	font-size: 14px;
	font-family: "微软雅黑";
}
.xinwenzaixian2{
	font-size: 24px;
	font-family: "微软雅黑";
	color:#3e3e3e;
	padding-left: 160px;
}
.NEWS{
	font-size: 14px;
	font-family: "微软雅黑"；
	color:#666666;
	padding-left: 160px;
}
.mib{
	width:1022px;
	height:1350px;
	background-color: #ffffff;
	margin-left: 169px;
	float:left;
}
.mibt{
	height:89px;
	width:1022px;
}
.maoyuanjian{
	font-size: 24px;
	font-family: "微软雅黑";
	color:#333333;
	text-align: center;
}
.data{
	font-size: 12px;
	font-family: "微软雅黑"；
	color:#828181;
	text-align: center;
}
.mibm{
	width:942px;
	height:1135px;
	margin-left: 44px;
	margin-right: 44px;
}
.mibb1{
	width:942px;
	height:20px;
}
.mibb1 a{
	font-size: 14px;
	font-family: "微软雅黑"；
	color:#0b4199;
}
.mibb2{
	width:942px;
	height:10px;
}
.mibb2 a{
	font-size: 14px;
	font-family: "微软雅黑"；
	color:#0b4199;
}
.cebian{
	padding-left: 30px;
	float:left;
}
/*尾部*/
.WB{
    height:390px;
    width:100%;
    background-color:#454545;
}
.WB .weibua{
    height:360px;
    width:1200px;
    margin:0 auto;
}
.weibu1{
    width: 183px;
    height: 274px;
    margin-left: 0;
    float: left;
    color:#ffffff;
}
.weibu11{
    padding-left:0;
    padding-top: 53px;
    font-family: '微软雅黑';
    font-size: 16px; 
}
.weibu12{
    margin-top: 23px;
    padding-left: 0px;
    line-height: 24px; 
    font-size: 14px;
    font-family: '微软雅黑';
}
.weibu2{
	width:285px;
	height:274px;
	float:left;
	margin-left:0;
	color:#ffffff;
	font-family: '微软雅黑';
}
.weibu21{
	height:68px;
	padding-top:32px;
	padding-bottom:30px;
	font-size:14px；
}
.weibu22{
	width:285px;
	height:142px;
}
.weibu221{
	width:60px;
	height:142px;
	float:left;
	font-size: 14px;
	font-family: '微软雅黑';
}
.weibu221 p{
	padding-bottom: 40px;
}
.weibu222{
	width:220px;
	height:142px;
	float:left;
	font-size: 12px;
	color:#ffffff;
	font-family: '微软雅黑';
}
.weibu222 p{
	padding-bottom: 13px;
}
.WB .weibub{
    height:29px;
    width:1200px;
    margin:0 auto;
}
.weibu3{
	padding-left: 85px;
	padding-top: 6px;
	font-size: 12px;
	font-family: '微软雅黑';
	color:#ffffff;
	float:left;

}
.weibu4{
	padding-left:143px;
	padding-top: 4px;
	font-size: 12px;
	font-family: '微软雅黑';
	color:#ffffff;
	float:left;
}
.bo1{
    height:63px;
    width:100%;
    background-color: #0b4199;
}
.bo1 .bo{
    height:63px;
    width:1202px;
    margin:0 auto;
    background-color:#0b4199;
}
.pi1{
    padding-top:14px;
    float:left;
}
.pi2{
    padding-top:22px;
    padding-left:5px;
    color: #ffffff; 
    float:left;
}
.pi3{
    padding-top:14px;
    padding-left: 180px;
    float:left;
}
.pi4{
   color:#fff;
   float:right;
   margin-right:20px;
   margin-top:20px;
}
.pi5{
    float:right;
    padding-top: 10px;
    padding-left: 5px;
}






